@import url('https://fonts.googleapis.com/icon?family=Material+Icons+Sharp');

/* 全体のリセットとベース設定 */
body,
.btn {
    margin: 0;
    padding: 0;
    color: var(--color-text);
    font-family: 'Roboto', 'Noto Sans JP', sans-serif;
    line-height: 1.8;
    overflow-x: hidden;
    font-size: 1rem;
    letter-spacing: 0;
}

.btn {
    padding: 0.9375rem;
}

footer {
    color: var(--color-bace-text);
}

/* aタグ関連 */
a {
    text-decoration: none;
    color: var(--color-text);
}

.a_blank,
.a {
    color: var(--color-text);
    text-decoration: underline;
    transition: 0.3s ease;
}

.a_nounder {
    color: var(--color-text);
    transition: 0.3s ease;
}

.a_blank::after {
    content: "\e89e";
    color: var(--color-text);
    font-family: 'Material Icons Sharp';
    font-size: 0.625rem;
    padding: 0 0.1875rem;
    vertical-align: middle;
}

.a_blank:hover,
.a_blank:hover::after,
.a:hover,
.a_nounder:hover,
.a_nounder:hover::after {
    color: var(--color-accent);
}

/* ヘッダー */
.header-name {
    color: var(--color-bace-text);
}

.header-contents {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: var(--color-main);
    height: 4.0625rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-image: none;
}

.metadata {
    display: flex;
    font-size: 0.8125rem;
    align-items: center;
}

.breadcrumb-nav,
.date {
    flex: 1;
}

/* ↓ 年月日 ↓ */
.metadata .date {
    text-align: right;
}

.date time::before {
    font-family: 'Material Icons Sharp';
    display: inline-block;
    color: var(--color-hover);
    margin-right: 0.3125rem;
    vertical-align: top;
}

.date .create-day::before {
    content: "\e8b5";
}

.date .update-day {
    margin-left: 0.625rem;
}

.date .update-day::before {
    content: "\e923";
}

/* ↑ 年月日 ↑ */

/* ↓ パンくずリスト ↓ */
.breadcrumb-nav {
    position: relative;
    overflow: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    z-index: 1;
}

.breadcrumb-nav ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

.breadcrumb-nav li {
    display: inline;
    list-style: none;
    font-weight: bold;
}

/* 矢印（区切り）の設定 */
.breadcrumb-nav li:not(:last-child):after {
    font-family: 'Material Icons Sharp';
    content: '\e409';
    font-size: 0.8125rem;
    -webkit-font-smoothing: antialiased;
    padding: 0 0.2em;
    color: var(--color-main);
}

.breadcrumb-nav li,
.breadcrumb-nav li a {
    color: var(--color-main);
}

.breadcrumb-nav li a:hover span {
    text-decoration: underline;
}

.breadcrumb-nav li a:hover,
.breadcrumb-nav li a:hover span,
.breadcrumb-nav li a:hover:before {
    color: var(--color-hover) !important;
}

/* アイコンの共通設定 */
.breadcrumb-nav li a:before,
.breadcrumb-nav li span:before {
    font-family: 'Material Icons Sharp';
    font-size: 0.8125rem;
    -webkit-font-smoothing: antialiased;
    color: var(--color-main);
    margin-right: 0.1875rem;
    vertical-align: bottom;
}

/* 各クラスのアイコン定義 */
.pan-home:before {
    content: '\e88a';
}

.pan-folder:before {
    content: '\e2c7';
}

.pan-paper:before {
    content: '\e24d';
}

.pan-404:before {
    content: '\e5c9';
}

.contents {
    display: flex;
    width: 100%;
    max-width: 56.25rem;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.contents span a.a {
    text-decoration: none;
    font-weight: bold;
    font-size: 0.875rem;
}

/* コンテナとコンテンツ */
.container {
    width: 100%;
    padding-top: 4.0625rem;
}

#content {
    display: flex;
    justify-content: center;
    background-color: #F1F1F1;
}

#child1 {
    width: 100%;
    max-width: 56.25rem;
    background-color: #FFFFFF;
    padding: 1.875rem;
}

.container,
#child1 {
    min-height: calc(100svh - 4.0625rem - 6.4375rem);
}

h1 {
    position: relative;
    text-align: center;
    margin-bottom: 3.125rem;
}

h1::before {
    position: absolute;
    bottom: -0.625rem;
    left: calc(50% - 1.875rem);
    width: 3.75rem;
    height: 0.3125rem;
    content: '';
    border-radius: 0.1875rem;
    background: var(--color-main);
}

h2.normal_title {
    position: relative;
    padding: 1rem;
    margin: 1.875rem 0 0.9375rem 0;
    border-left: 0.3125rem solid var(--color-main);
    background: #f4f4f4;
    font-size: 1.25rem;
    display: block;
}

.article {
    padding-left: 0;
    list-style-type: none;
}

.first,
.second,
.third,
.fourth {
    line-height: 2;
    font-size: 1rem;
    color: var(--color-text);
    margin-top: 0.625rem;
}

.first {
    list-style-type: upper-roman;
    padding-left: 1.875rem;
}

.second {
    list-style-type: upper-alpha;
    padding-left: 1.875rem;
}

.third {
    list-style-type: lower-alpha;
    padding-left: 1.875rem;
}

.fourth {
    list-style-type: lower-roman;
    padding-left: 1.875rem;
}

.PLupdate-icon_table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    table-layout: fixed;
}

.PLupdate-icon_table th {
    padding: 0.625rem;
    background: var(--color-main);
    color: var(--color-bace-text);
    border: solid 0.0625rem var(--color-main);
}

.PLupdate-icon_table td {
    padding: 0.625rem;
    border: solid 0.0625rem var(--color-main);
}

.acbox {
    width: auto;
    margin: 0.625rem 0;
}

.acbox>label {
    width: 100%;
    max-width: 55.25rem;
    font-weight: bold;
    text-align: center;
    background: #f1f1f1;
    display: block;
    padding: 0.5rem;
    cursor: pointer;
    color: var(--color-main);
}

.acbox-under {
    font-size: 0.9375rem;
    padding: 0.5em 1em;
    border: solid 0.0625rem var(--color-second);
    border-radius: 0.25rem;
}

/* コピーBOX */
.copy-box-container {
    border-top: 0.1875rem solid #aaa;
    border-bottom: 0.1875rem solid #aaa;
    background-color: #eee;
    padding: 1em 2em;
    margin: 1.25rem 0;
}

.copy-box-container p {
    margin: 0;
}

.copy-btn {
    width: 3.125rem;
    height: 3.125rem;
    position: relative;
    display: inline-block;
    border: 0;
    margin: 0 0 0.9375rem 0;
    padding: 0;
    cursor: pointer;
}

.copy-btn::before {
    content: "\f0c5";
    font-size: 1.5em;
}

.copy-tooltip {
    position: absolute;
    top: -0.9375rem;
    left: 50%;
    width: 6.25rem;
    transform: translateX(-50%);
    background-color: #333 !important;
    color: #fff !important;
    padding: 0.3125rem 0.625rem;
    border-radius: 0.25rem;
    font-size: 0.75rem;
    opacity: 0 !important;
    visibility: hidden !important;
    transition: opacity 0.3s, transform 0.3s;
    z-index: 9999;
}

.copy-tooltip.show {
    opacity: 1 !important;
    visibility: visible !important;
    transform: translateX(-50%) translateY(-0.3125rem) !important;
}

/* ボタン */
.btn-container {
    display: block;
    text-align: center;
}

.btn {
    min-width: 17.5rem;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 1.2;
    text-decoration: none;
    color: var(--color-text);
    font-weight: bold;
    border: 0.125rem solid var(--color-second);
    transition: all var(--trans-time) var(--trans-ease);
    box-shadow: 0.3125rem 0.3125rem 0px 0px var(--color-second);
    background-color: #FFFFFF;
    padding: 1.25rem;
    margin: 0.625rem;
    cursor: pointer;
}

.btn-download-icon {
    font-size: 1rem;
}

.btn:hover {
    box-shadow: 0 0 var(--color-second);
    color: var(--color-bace-text);
    background-color: var(--color-second);
}

.btn span::before {
    margin-right: 0.9375rem;
}

/* ↑ ボタン ↑ */


/* ↓ プラグインアップデート表 ↓ */
.update-icon_btn {
    position: relative;
    text-align: center;
    margin: 50px 0;
}

.PLupdate-icon_table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    border-spacing: 0;
    /* テーブル全体のレイアウトを固定にし、均等に幅を割り当てる */
    table-layout: fixed;
}

.PLupdate-icon_table tr:nth-child(2n+1) {
    background: #e9faf9;
}

.PLupdate-icon_table th {
    padding: 10px;
    background: var(--color-main);
    border: solid 1px var(--color-main);
    color: var(--color-bace-text);
}

.PLupdate-icon_table td {
    padding: 10px;
    border: solid 1px var(--color-main);
}

.PLupdate-icon_table tr:last-child {
    max-width: 1px;
}

/* ↑ プラグインアップデート表 ↑ */

/* ↓ アコーディオンボックス ↓ */
.acbox {
    width: auto;
    font-size: 0px;
    /* ラベルと開く部分を分離する時は数値を入れる */
    margin: 10px 0 10px 0;
    /* ボックス全体の位置調整 */
}

.acbox>label {
    width: 100%;
    max-width: 884px;
    font-size: 16px;
    /* ラベルの文字サイズ */
    font-weight: bold;
    text-align: center;
    background: #f1f1f1;

    /* ラベルの背景色 */
    position: relative;
    display: block;
    padding: 8px;
    border-radius: 4px;
    /* ラベルの角の丸み */
    cursor: pointer;
    color: var(--color-main);
    transition: 0.3s ease;
}

.acbox>label:hover {
    background: var(--color-main);
    color: #FFFFFF;
    /* ラベルにマウスを乗せた時の背景色 */
    transition: 0.3s ease;
}

.acbox input {
    display: none;
}

.acbox>label:after {
    color: var(--color-main);
    content: "▼";
    /* ラベルのアイコン */
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -14px;
}

.acbox>label:hover:after {
    color: #FFFFFF;
    content: "▼";
    /* ラベルのアイコン */
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -14px;
}

.acbox>input:checked~label::after {
    content: "▲";
    /* ラベルをクリックした後のアイコン */
    color: var(--color-text);
}

.acbox-under {
    height: 0px;
    overflow: hidden;
    opacity: 0;
    transition: 0.15s;
    /* 開閉スピードの設定 */
}

.acbox input:checked~.acbox-under {
    height: auto;
    padding: 18px 10px;
    /* 開いた部分の枠内の余白 */
    border-radius: 0px;
    /* 開いた部分の背景色 */
    opacity: 1;
}

.acbox input:checked~label {
    background: #ffffff;
    /* クリック後のラベルの背景色 */
    border: 1px solid var(--color-second);
    color: var(--color-text);

}

.acbox-under {
    font-size: 15px;
    /* 開いた部分の文字サイズ */
    color: var(--color-text);
    /* 開いた部分の文字色 */
    padding: 0.5em 1em;
    border: solid 1px var(--color-second);
    border-radius: 4px !important;
}

/* ↑ アコーディオンBOX ↑ */
/* ニュース一覧 */
.news-list {
    list-style: none outside;
    margin: 0;
    padding: 0;
}

.news-list .item a {
    display: flex;
    flex-wrap: nowrap;
    text-decoration: none;
    border-bottom: 0.0625rem solid var(--color-accent);
    padding: 1.25rem;
    align-items: center;
}

.news-list .item:first-child a {
    border-top: 0.0625rem solid var(--color-accent);
}

.news-list .item .date {
    margin: 0;
    min-width: 5rem;
    font-size: 1rem;
    color: var(--color-hover);
    padding: 0 1.25rem 0 0;
}

.news-list .item .category {
    margin: 0;
    min-width: 6.25rem;
    padding: 0 1.25rem 0 0;
}

.news-list .item .category span {
    color: var(--color-bace-text);
    text-align: center;
    display: inline-block;
    width: 100%;
    padding: 0.3125rem 0;
    font-size: 0.75rem;
    line-height: 1;
}

.news-list .item .title {
    margin: 0;
    width: 100%;
}

/* カテゴリ別カラー分岐 */
.news-list .item .category .important {
    background: var(--color-important);
}

/* 重要は赤 */
.news-list .item .category .news {
    background: var(--color-main);
}

/* 通常はメインカラー */
/* ↑ ニュース一覧 ↑ */


/* ↓ 日付 ↓ */

@media screen and (max-width: 47.9375rem) {

    .metadata {
        flex-direction: column;
        align-items: unset;
        gap: 0.625rem;
    }

    .news-list .item a {
        flex-wrap: wrap;
    }

    .news-list .item .date {
        min-width: 100%;
        margin-bottom: 0.625rem;
    }

    .news-list .item .category {
        min-width: 50%;
        margin-bottom: 0.625rem;
    }
}
