---
layout: home
title: ホーム | おちてはじまり、おちておわる。
---

<header>
  <div class="header-contents">
    <h1 class="glitch"><img src="{{ baseurl }}/image/index/logo.png" alt="おちてはじまり、おちておわる。"></h1>
    <p class="subtitle shadow">鋭意開発中</p>
  </div>
</header>

<input type="checkbox" id="menu-btn-check">
<label for="menu-btn-check" class="menu-btn"><span></span></label>

<nav class="global-nav">
  <div class="nav-dummy"></div>

  <ul class="menu-content">
    <li><a class="top_a" href="#story">STORY</a></li>
    <li><a class="top_a" href="#characters">CHARACTERS</a></li>
    <li><a class="top_a" href="#info">INFORMATION</a></li>
    <li><a class="top_a" href="#store">STORE</a></li>
    <li><a class="top_a" href="#account">ACCOUNT</a></li>
    <li><a class="top_a" href="#contact">CONTACT</a></li>
  </ul>

  <div class="font-change">
    <button id="change-font-btn" class="font-change-btn">
      <span class="AweSomeFont-Free font-change-icon"></span>
    </button>
  </div>
</nav>

<main>
  <section id="story">
    <h2 class="shadow">STORY</h2>
    <div class="content-box">
      <p class="shadow">山を登っていた少女は突然、足元が崩れて空洞へおちてしまう。<br>
        少女がおちた先にあったものは、埋もれて風化した神殿だった。<br><br>

        少女は神殿の奥から"何か"を感じ、不思議な神殿の内部に誘われていく。<br><br>
        少女の求めるものがここにあると信じて……。</p>
    </div>
  </section>

  <section id="characters">
    <h2 class="shadow">CHARACTERS</h2>
    <div class="char-grid">
      <div class="char-card">
        <h3 class="shadow">少女</h3>
        <div class="char-img-placeholder shadow">幼い少女。だが見た目よりしっかりしている。<br>
          かなり年季の入ったマントを身に着け、フードを深く被っている。</div>
      </div>
    </div>
    <div class="char-grid">
      <div class="char-card">
        <h3 class="shadow">少年</h3>
        <div class="char-img-placeholder shadow">にこやかな少年。少女を探していたらしい。<br>
          少女のことが心配で一緒に行動するようになる。</div>
      </div>
    </div>
  </section>

  <section id="info">
    <h2 class="shadow">INFORMATION</h2>
    <table>
      <tr>
        <th>タイトル</th>
        <td>おちてはじまり、おちておわる。</td>
      </tr>
      <tr>
        <th>ジャンル</th>
        <td>謎解きアドベンチャー</td>
      </tr>
      <tr>
        <th>プラットフォーム</th>
        <td><span class="AweSomeFont-Brands inline-icon steam-icon"></span>Steam</td>
      </tr>
      <tr>
        <th>プレイ人数</th>
        <td>1人（マルチプレイなし）</td>
      </tr>
      <tr>
        <th>対応OS</th>
        <td><span class="AweSomeFont-Brands inline-icon win-icon"></span>WindowsOS<br>
          <span class="AweSomeFont-Brands inline-icon mac-icon"></span>MacOS<br><br>
          操作の制限により、画面をタッチすることによるプレイヤーの操作ができないので、モバイル端末ではプレイできません。<br>
          キーボード操作とマウス操作（タッチパッドでも可）ができる環境が必要です。<br>
          ご購入前にデモ版で正常に動作するかご確認ください。
        </td>
      </tr>
    </table>
    <div class="btn-container">
      <a class="btn btn-download-icon" href="{{ baceurl }}/dowmload/demo.zip" download="おちてはじまり、おちておわる。-デモプレイ.zip">
        デモをダウンロード
        <span class="AweSomeFont-Free download-icon"></span>
      </a>
    </div>
  </section>

  <section id="store">
    <h2 class="shadow">STORE</h2>
    <div class="btn-container">
      <a class="btn" href="#" target="_blank" rel="noopener">
        <span class="AweSomeFont-Brands steam-icon"></span>
        Steam Store
      </a><br>
      <a class="btn" href="{{ baceurl }}/plugin" target="_blank" rel="noopener">
        <span class="AweSomeFont-Free update-icon"></span>
        Plugin Update
      </a>
    </div>
  </section>

  <section id="account">
    <h2 class="shadow">ACCOUNT</h2>
    <div class="btn-container">
      <a class="btn" href="https://x.com/ochite_H_O" target="_blank" rel="noopener"><span
          class="AweSomeFont-Brands x-icon"></span>@ochite_H_O</a><br>
    </div>
  </section>

  <section id="contact">
    <h2 class="shadow">CONTACT</h2>
    <dev class="btn-container">
      <button id="open-window-btn" class="btn">TEAM</button>
    </dev>
    <div class="btn-container">
      <button id="open-news-btn" class="btn">NEWS</button>
      <button id="open-form-btn" class="btn pc-contact">お問い合わせ</button>
    </div>
    <div class="btn-container">
      <a class="btn" href="{{ baceurl }}/guideline" rel="noopener">Guideline</a>
      <a class="btn" href="{{ baceurl }}/privacy_policy" rel="noopener">Privacy Policy</a>
    </div>
  </section>

  <div id="TEAM_modal-overlay" class="modal-overlay">
    <div class="modal-content">
      <div class="modal-header">
        <h3>TEAM / 開発チーム</h3>
        <button id="close-window-btn" class="close-btn"></button>
      </div>
      <div class="modal-body">
        <div class="modal-dev-member">
          <div class="team-member-content">
            <p class="post">DIRECTOR / ディレクター</p>
            <p class="role">Production / Game Design / World Setting / Character Design / Pixel Art / Background Music /
              Sound Effects /
              Logo Design</p>
            <div class="person">
              <p class="mem-name">ゴイニキ_GOINIKI</p>
              <p>はらたつ顔なクリエイター<br>
                企画、仕様書作成、BGM・SE制作、ストーリー構成、グラフィック制作などのゲーム制作における経験値ほぼ0。<br>
                そんな魚が"作ってみたいから"という理由だけで走り出した、初めてのプロジェクト。
              </p>
              <div class="link">
                <a class="top_a" href="https://x.com/goi_niki" target="_blank" rel="noopener">
                  <span class="AweSomeFont-Brands x-icon"></span>@goi_niki
                </a>
                <a class="top_a" href="https://www.youtube-icon.com/@goiniki5123" target="_blank" rel="noopener">
                  <span class="AweSomeFont-Brands youtube-icon"></span>goiniki5123
                </a>
                <a class="top_a" href="https://www.pixiv.net/users/119897157" target="_blank" rel="noopener">
                  <span class="AweSomeFont-Brands pixiv-icon"></span>ゴイニキ_GOINIKI
                </a>
                <a class="top_a" href="https://goiniki.booth.pm/" target="_blank" rel="noopener">
                  <span class="booth-icon"></span>ゴイニキ_GOINIKI
                </a>
              </div>
            </div>
          </div>
          <div class="team-member-content">
            <p class="post">PROGRAMMER / プログラマー</p>
            <p class="role">Programming / Plugin Integration / Technical Director / Logo Design / Web Design</p>
            <div class="person">
              <p class="mem-name">西隈</p>
              <p>JavaScriptを書いたことないのに、プラグインを作ることになった人。<br>
                動的型付け言語に苦戦する。<br>
                自分の書いたプラグインがキレイなビジュとともに動いていて超感動🤩
              </p>
              <div class="link">
                <a class="top_a" href="https://nisigma200.github.io/" target="_blank" rel="noopener">
                  <span class="nisigma"></span>西隈サイト
                </a>
                <a class="top_a" href="https://x.com/nisigma_200" target="_blank" rel="noopener">
                  <span class="AweSomeFont-Brands x-icon"></span>@Nisgma_200
                </a>
                <a class="top_a" href="https://github.com/Nisigma200" target="_blank" rel="noopener">
                  <span class="AweSomeFont-Brands github-icon"></span>Nisigma200
                </a>
                <a class="top_a" href="https://qiita.com/nisigma" target="_blank" rel="noopener">
                  <span class="qiita-icon"></span>@nisigma
                </a>
                <a class="top_a" href="https://www.youtube-icon.com/@Nisigma_200" target="_blank" rel="noopener">
                  <span class="AweSomeFont-Brands youtube-icon"></span>Nisigma_200
                </a>
              </div>
            </div>
          </div>
          <div class="team-member-content">
            <p class="post">SCRIPT WRITER / 脚本</p>
            <p class="role">Script Edit / World Setting Support / Character Design Support </p>
          </div>
          <div class="team-member-content">
            <p class="post">TESTER / デバッグプレイ</p>
            <p class="role">Testing</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="news_modal-overlay" class="modal-overlay">
    <div class="modal-content">
      <div class="modal-header">
        <a class="top_a" href="{{ baceurl }}/news" rel="noopener">
          <h3>NEWS / お知らせ</h3>
        </a>
        <button id="close-news-btn" class="close-btn"></button>
      </div>
      <div class="modal-body">
        <div class="entry-content">
          <ul class="news-list">
            {% for post in site.posts limit: 3 %}
            <li class="item">
              <a class="top_a" href="{{ post.url | relative_url }}">
                <time class="date" datetime="{{ post.create-date }}">
                  {{ post.create-date | date: "%Y.%m.%d" }}
                </time>

                <span class="category">
                  {% if post.categories contains '重要' %}
                  <span class="important">重　要</span>
                  {% else %}
                  <span class="news">ニュース</span>
                  {% endif %}
                </span>

                <span class="title">{{ post.title }}</span>
              </a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div id="GoogleForm_modal-overlay" class="modal-overlay">
    <div class="modal-content is-form">
      <div class="modal-header">
        <a class="top_a"
          href="https://docs.google.com/forms/d/e/1FAIpQLSesQJ8KSZpsmqwzS-uo4TAN7AaQ5MZN1jCUERwZKupkqrmj6A/viewform?usp=publish-editor"
          target="_blank" rel="noopener">
          <h3>CONTACT / お問い合わせ</h3>
        </a>
        <button id="close-form-btn" class="close-btn"></button>
      </div>
      <div class="modal-body">
        <iframe
          src="https://docs.google.com/forms/d/e/1FAIpQLSesQJ8KSZpsmqwzS-uo4TAN7AaQ5MZN1jCUERwZKupkqrmj6A/viewform?embedded=true">読み込んでいます…</iframe>
      </div>
    </div>
  </div>
</main>
