<footer>
  <div class="statue"></div>
  <div class="footer-container">
    <a class="logo" href="{{ site.baseurl}}/">
      <img src="{{ site.baseurl}}/image/index/logo.png">
    </a>

    <div class="footer-nav-container">
      <aside class="sns-container">
        <a class="sns-circle" href="https://x.com/ochite_H_O" target="_blank" rel="noopener">
          <span class="AweSomeFont-Brands x-icon"></span>
        </a>
        <a class="sns-circle" href="#" target="_blank" rel="noopener">
          <span class="AweSomeFont-Brands steam-icon"></span>
        </a>
      </aside>
      <nav class="footer-contents">
        <ul class="footer-nav">
          <li><a href="{{ baseurl }}/">HOME</a></li>
          <li><a href="{{ baseurl }}/#info">INFORMATION</a></li>
          <li><a href="{{ baseurl }}/#store">STORE</a></li>
          <li><a href="{{ baseurl }}/guideline">GUIDELINE</a></li>
          <li><a href="{{ baseurl }}/privacy_policy">PRIVACY POLICY</a></li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="copyright">
    © 2026<span id="copyright-year"></span> 『おちてはじまり、おちておわる。』 Development Team. All Right Reserved.
  </div>
</footer>
